<br>
<br>
<br>
<div class="container text-center"><h2> <%= @cocktail.name %> </h2>

  <%# @article.photos.each do |photo| %>
  <%#= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <%# end %>
<%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>

<% @cocktail.doses.each do |dose| %>
<p> <%= dose.description %> <%= dose.ingredient.name %> |||||| <%= link_to "Remove", dose_path(dose), method: :delete,
              data: { confirm: "Are you sure?" } %> </p>
<% end %>
<br>
<br>


 <%= link_to "Go back to your cocktails", cocktails_path %>
<br>
<br>

<%= link_to "Add Dose to your Cocktail", new_cocktail_dose_path(@cocktail) %>
<br>
<br>
 <%= link_to "Delete that cocktail", cocktail_path(@cocktail), method: :delete %>


</div>
