<h1>Welcome to <strong>your</strong> Doses Page !!!</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.label :description %>
<%= f.text_area :description %>
<%= f.association :ingredient %>
<%= f.submit %>
<% end %>




<%= link_to 'New Cocktail', new_cocktail_path %>
